<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <section>
        <div>
            <h3>TESTIMONIALS</h3>
            <h2>Our Clints Says</h2>
        </div>
        <div class="clint_img">
            <img src="https://tse1.mm.bing.net/th?id=OIP.RSAEQlANyleDdlkOlyGisQHaE8&pid=Api&P=0&h=180" alt="clint">
           
            <h3>  Clint Name</h3>
            <p> Profession</p>
            <p>Lorem ipsum dolor sit, amet consectetur <br> adipisicing elit. Maxime delectus ad,
              blanditiis<br>unde quod nulla eum sequi nobis quis corrupti.
            </p>
        </div>
    </section>
</body>
</html>